<%= form_tag articles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :q, nil, :placeholder => 'Search articles...'%>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= render @authors%>


       <% if @actions.any? %>

      
         <ol class="profile_microposts">
          <%= render @actions %>
          </ol>
          <br>
          <%= paginate @actions %>
  
        <%end%>