<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV['FACEBOOK_APP_ID'] %>
  <%= tag :meta, property: "og:site_name", content: "Jurnalo" %>
  <%= tag :meta, property: "og:type", content: "article" %>
  <%= tag :meta, property: "og:title", content: @article.title %>
  <%= tag :meta, property: "og:url", content: article_url(@article) %>
  
<% end %>

<div class="row">
  <div class = "span6">
    <br>
    <ol class="microposts">
      
      <div id ="item_text">

    
      <span class = "user"><%= link_to @article.catcher.author.name, @article.catcher.author %>&nbsp;&nbsp;</span>
       <div id = "follow_button">
<%= render 'authors/subscribe_form' %></div>
      </div>
      <br>

      <div id="<%= @article.id %>">  
      <div id ="item_text">

          <span class="content"><b><%= link_to @article.title, @article.url %></b></span>
       

          

           <span class="timestamp"> 

        <!--% if @post.fbaction_id %-->

<%if @article.likes && @article.likes.count > 0  %> 
                <%= link_to 'like', :controller => "articles", :action => "like", :id => @article.id %> (<%=  @article.likes.count.to_s %>) · 
            <%else%>
                 <%= link_to 'like', :controller => "articles", :action => "like", :id => @article.id %> · 
            <%end%>

              <script>


                // assume we are already logged in

          function sendMessage() {
                FB.ui({
                    method: 'send',
                    name: '<%= @article.title%>' ,
                    link: '<%= @article.url%>',
                    })}
           </script>
            <%= link_to_function "send", "sendMessage(); return false;" %> · 
            
              <%= time_ago_in_words(@article.created_at) %> ago   

        </span>
     
          
             
  </span>
        <br><br> 
      	</div>

       
      </div>



     
      
    </ol>
    <br>
    <div class="fb-comments" data-href="<%= request.url%>" data-num-posts="2"></div>
    <% if @actions.any? %>
    <br><br>
      <span class = "user">More posts by <%= link_to (@article.catcher.author.name).html_safe , @article.catcher.author , title: @article.catcher.author.name, "data-content" => "#{popover_link (@article.catcher.author)}", rel: 'popover', "trigger"=>"hover", "data-placement"=>"right" %></span>
      
         <ol class="microposts">
          <%= render @actions %>
          </ol>
          <br>
          <%= paginate @actions %>

        <%end%>
  </div>
      <div class="span2">

        <% if @subscribed_friends && @subscribed_friends.any? %>
        <span class = "user">
        Friends subscribed to <%= link_to (@article.catcher.author.name).html_safe , @article.catcher.author , title: @article.catcher.author.name, "data-content" => "#{popover_link (@article.catcher.author)}", rel: 'popover', "trigger"=>"hover", "data-placement"=>"right" %>  </span>

      
         <ol class="profile_microposts">
          <%= render @subscribed_friends %>
          </ol>
          <br>
      
<%end%>

<% if @recommended.any? %>
<br>
      
        Subscribers of <%= @author.name %> also subscribe to

         <ol class="profile_microposts">
            <% @recommended.each do |r| %>
          <%=    render r[0] %>
          <%end%>
          </ol>
          <br>
          <span class="timestamp">
          <%= link_to raw('<i class="icon-plus"></i> ') + "more similar authors..", :controller => "authors", :action => "similar", :id => @article.catcher.author.id %>
        </span>
          

<%end%>



</div>
  <br>
</div>


