<li>

	<span class = "user">
			
		<div id = "author_text">
			<% if author.img_url %>
		<div id ="author_image">
			<%= link_to (image_tag author.img_url, :width=> "25"), author  %>
		</div>  
		<%= link_to author.name, author_path(author), title: author.name, "data-content" => "#{popover_link (author)}", rel: 'popover', "trigger"=>"hover", "data-placement"=>"right"  %>
		<%else%>
		
<%= link_to raw('<i class="icon-user"></i> ') + author.name, author_path(author), title: author.name, "data-content" => "#{popover_link (author)}", rel: 'popover', "trigger"=>"hover", "data-placement"=>"right"  %><%end%></span></div>
<% unless current_user && current_user.subscribed?(author) %>
<div id = "follow_button">
<%= render 'authors/subscribe_form' %></div><%end%>&nbsp;&nbsp;&nbsp;<div id = "follow_button"> 

<% if @user == current_user %>  
<% if current_user %>
<% if current_user.subscriptions.find_by_author_id(author.id).starred == false %>  <span class="handle"> <%end%>
  <div id ="star">
    
        <% if current_user.subscriptions.find_by_author_id(author.id).starred == true%>
       
          <%= link_to raw('<i class="icon-star"></i>'), "/subscriptions/#{current_user.subscriptions.find_by_author_id(author.id).id}/unstar", :class => "btn btn-small", title: 'click to unstar', rel: 'tooltip', "data-placement"=>"bottom" %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'), "/subscriptions/#{current_user.subscriptions.find_by_author_id(author.id).id}/star", :class => "btn btn-small", title: 'click to star this author', rel: 'tooltip', "data-placement"=>"bottom"  %>
          
        <%end%>
        <%end%>
    <%end%>

</li>
