<li>

	<span class = "user">
			
		<div id = "author_text">
			<% if author.img_url %>
		<div id ="author_image">
			<%= link_to (image_tag author.img_url, :width=> "35"), author  %>
		</div>  
		<%= link_to author.name, author_path(author) %>
		<%else%>
		
<%= link_to raw('<i class="icon-user"></i> ') + author.name, author_path(author)  %><%end%></span></div>

  <div id ="star">

  	<% if current_user && current_user.subscribed?(author) && current_user.subscribed?(author).starred == true%>
       
          <%= link_to raw('<i class="icon-star"></i>'+ ' unstar'), {:controller => "subscriptions", :action => "unsubscribe", :id => author.id}, :class => "btn btn-small", title: 'click to unstar', rel: 'tooltip', "data-placement"=>"bottom" %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'+ ' star'), {:controller => "subscriptions", :action => "subscribe", :id => author.id}, :class => "btn btn-small", title: 'click to star this author', rel: 'tooltip', "data-placement"=>"bottom"  %>
          
       
      <%end%>
    
       
</li>
