<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV['FACEBOOK_APP_ID'] %>
  <%= tag :meta, property: "og:site_name", content: "EconBloggers" %>
  <%= tag :meta, property: "og:type", content: "profile" %>
  <%= tag :meta, property: "og:title", content: @author.name %>
  <% if @recommended.size > 2 &&  %>
  <%= tag :meta, property: "og:description", content: "Get all articles by " + @author.name + " from any online publication or follow related authors like " + @recommended[0][0].name + ", " + @recommended[1][0].name + " and " +  @recommended[2][0].name + "."  %> <% else %>
   <%= tag :meta, property: "og:description", content: "Read all of " + @author.name + "'s articles."  %>
  <%end%> 
  <%= tag :meta, property: "og:url", content: author_url(@author) %>
  <% if @author.img_url %>
    <%= tag :meta, property: "og:image", content: @author.img_url %>
   <%else%>
    <%= tag :meta, property: "og:image", content: request.protocol + request.host + image_path("256n.png") %>
   <%end%>
  
<% end %>
<% content_for :title, @author.name + " - " %>


     <div class ="user_show">

  <div class="row">

         <div class="span5"><div class ="upper_section"><h3>
      <%= link_to (image_tag @author.img_url, :height=> "50"), "http://en.wikipedia.org/wiki/" + @author.name if @author.img_url %>
    <%= @author.name %>&nbsp;&nbsp;&nbsp;<div id = "follow_button">

  <% if current_user && current_user.subscribed?(@author) && current_user.subscribed?(@author).starred == true%>
       
          <%= link_to raw('<i class="icon-star"></i>'+ ' unstar'), {:controller => "subscriptions", :action => "unsubscribe", :id => @author.id}, :class => "btn btn-small", title: 'click to unstar', rel: 'tooltip', "data-placement"=>"bottom" %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'+ ' star'), {:controller => "subscriptions", :action => "subscribe", :id => @author.id}, :class => "btn btn-small", title: 'click to star this author', rel: 'tooltip', "data-placement"=>"bottom"  %>
          
       
      <%end%></div></h3><br>
      <span class="timestamp"><%= link_to raw('<i class="icon-thumbs-up"></i>'+ ' like'), :controller => "authors", :action => "like", :id => @author.id %>&nbsp;&nbsp;
      <%= link_to_function raw('<i class="icon-envelope"></i>'+ ' send'), "sendMessage(); return false;" %>&nbsp;&nbsp;<%= link_to link_to raw('<i class="icon-list-alt"></i> ') + "wikipedia", "http://en.wikipedia.org/wiki/" + @author.name %></span>
         <script>


                // assume we are already logged in

          function sendMessage() {
                FB.ui({
                    method: 'send',
                    name: '<%= @author.name%>' ,
                    link: '<%= "https://www.EconBloggers.com" + author_path(@author)%>',
                    description: 'Subscribe to this author via EconBloggers.'
                    })}
           </script>


</div>


    <div class ="upper_section">
    <br>
       <% if @actions.any? %>
     Latest
    </div>      
         <ol class="profile_microposts">
          <%= render @actions %>
          </ol>
          <br>
          <%= paginate @actions %>
  
        <%end%>
       
        </div>

         <div class="span3">


        <% if @subscribed_friends && @subscribed_friends.any? %>
       
        Friends who starred <%= @author.name %>

      
         <ol class="profile_microposts">
          <%= render @subscribed_friends %>
          </ol>
          <br>
      
<%end%>

<% if @recommended.any? %>
      
        Users who starred <%= @author.name %> also starred<br><br>

        


         <ol class="profile_microposts">
            <% @recommended.each do |r| %>
          <%=    render r[0] %>
          <%end%>
          </ol>
          <br>
          <span class="timestamp">
          <%= link_to raw('<i class="icon-plus"></i> ') + "more econ bloggers", :action => "similar", :id => params[:id] %>
        </span>
          

<%end%>



</div>

</div>
</div>