     <div class ="user_show">

  <div class="row">

         <div class="span3"><h3> <%= @author.name %> </h3><span class="timestamp"> <%= link_to_function "send to friend", "sendMessage(); return false;" %></span></div>
         <script>


                // assume we are already logged in

          function sendMessage() {
                FB.ui({
                    method: 'send',
                    name: '<%= @author.name%>' ,
                    link: '<%= author_url(@author)%>',
                    })}
           </script>


<div class ="span3">
  <p>
<% if current_user && current_user.subscribed?(@author)  %> 
  <% if current_user.subscribed?(@author).starred == true%>
       
          <%= link_to raw('<i class="icon-star"></i>'+ ' unstar'), "/subscriptions/#{current_user.subscriptions.find_by_author_id(@author.id).id}/unstar", :class => "btn btn-small", title: 'click to unstar', rel: 'tooltip', "data-placement"=>"bottom" %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'+ ' star'), "/subscriptions/#{current_user.subscriptions.find_by_author_id(@author.id).id}/star", :class => "btn btn-small", title: 'click to star this author', rel: 'tooltip', "data-placement"=>"bottom"  %>
          
        <%end%>
      <%end%>
    </p>
      </div>
      <div class ="span2"><div id = "follow_button">
<%= render 'subscribe_form' %>
</div></div>
  <div class="span6">
       <% if @actions.any? %>
     

      
         <ol class="profile_microposts">
          <%= render @actions %>
          </ol>
          <br>
          <%= paginate @actions %>
  </div>
        <%end%>

         <div class="span2">

        <% if @subscribed_friends && @subscribed_friends.any? %>
       
        Subscribed friends 

      
         <ol class="profile_microposts">
          <%= render @subscribed_friends %>
          </ol>
          <br>
      
<%end%>

<% if @recommended.any? %>
      
        Subscribers of <%= @author.name %> also subscribe to

        


         <ol class="profile_microposts">
            <% @recommended.each do |r| %>
          <%=    render r[0] %>
          <%end%>
          </ol>
          <br>
          <%= link_to "more related authors..", :action => "similar", :id => params[:id] %>
          

<%end%>



</div>

</div>
</div>