     <div class ="user_show">

  <div class="row">

         <div class="span6"><h3> <%= @author.name %>&nbsp;&nbsp;&nbsp;<div id = "follow_button">
<%= render 'subscribe_form' %>
</div></h3><div class ="hidden-phone"><span class="timestamp"> <%= link_to_function raw('<i class="icon-envelope"></i>'+ ' send to friend'), "sendMessage(); return false;" %></span></div></div>
         <script>


                // assume we are already logged in

          function sendMessage() {
                FB.ui({
                    method: 'send',
                    name: '<%= @author.name%>' ,
                    link: '<%= "www.jurnalo.com" + author_path(@author)%>',
                    description: 'Subscribe to this author via Jurnalo.'
                    })}
           </script>

     
<div class ="span2">
  
<% if current_user && current_user.subscribed?(@author)  %> 
  <% if current_user.subscribed?(@author).starred == true%>
       
          <%= link_to raw('<i class="icon-star"></i>'+ ' unstar'), "/subscriptions/#{current_user.subscriptions.find_by_author_id(@author.id).id}/unstar", :class => "btn btn-small", title: 'click to unstar', rel: 'tooltip', "data-placement"=>"bottom" %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'+ ' star'), "/subscriptions/#{current_user.subscriptions.find_by_author_id(@author.id).id}/star", :class => "btn btn-small", title: 'click to star this author', rel: 'tooltip', "data-placement"=>"bottom"  %>
          
        <%end%>
      <%end%>
    
      </div>

  <div class="span6">
    <br>
       <% if @actions.any? %>
       
     

      
         <ol class="profile_microposts">
          <%= render @actions %>
          </ol>
          <br>
          <%= paginate @actions %>
  </div>
        <%end%>

         <div class="span2">

        <% if @subscribed_friends && @subscribed_friends.any? %>
       
        Subscribed friends 

      
         <ol class="profile_microposts">
          <%= render @subscribed_friends %>
          </ol>
          <br>
      
<%end%>

<% if @recommended.any? %>
      
        Subscribers of <%= @author.name %> also subscribe to

        


         <ol class="profile_microposts">
            <% @recommended.each do |r| %>
          <%=    render r[0] %>
          <%end%>
          </ol>
          <br>
          <span class="timestamp">
          <%= link_to raw('<i class="icon-plus"></i> ') + "more similar authors..", :action => "similar", :id => params[:id] %>
        </span>
          

<%end%>



</div>

</div>
</div>