<div class="row">
  <div class="span8">
    <div class ="upper_section">
    
<h3>Sign Up</h3><br><br>




<%= form_for @user do |f| %>
  <%= f.hidden_field :invitation_token %>
   <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div><br>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div><br>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div><br>
  <div class="actions"><%= f.submit "Sign Up", class: "btn btn-large btn-primary" %></div>
<% end %>

</div>
</div>
</div>