<div class ="user_show">

  <div class="row">
   
    
    
      <div class="span5">
        

            <h4>
              <div class = "profile_image">
         <%= image_tag @user.picture, :width => "50" %>&nbsp; <%= @user.name %>
       </div></h4>
         


         
      </div>
      <div class="span3">
        <div id = "follow_button">

                <%= render 'follow_form' unless @friendship == false %>            
 
       </div>
        <%= render 'shared/stats' %>  
      </div>

       
       <% if @actions.any? %>

      <div id = "latest_posts">
         <ol class="profile_microposts">
          <%= render @actions %>
          </ol>
          <br>
          <%= paginate @actions %>
       
      </div>
        <%end%>
        
           
    </div>
   
    
  </div> 

</div>