

  <div class="row">
    
    
      <div class="span3">
        <div class ="upper_section">

            <h4><% if @user.picture  %>  
         <%= link_to (image_tag @user.picture, :width => "50"), @user %>&nbsp; <%end%> <%= link_to @user.name, @user %> </h4>
         


         </div>
      </div>
      <div class="span5">
        <div class ="upper_section">
        <div id = "follow_button">
                <%if current_user.following?(@user) && @utopic %>
                  <%= render @utopic  unless @friendship == false%>
          <%else%> 
                <%= render 'follow_form' if current_user  unless @friendship == false%>            
         <%end%>    
       </div>
      </div>
      </div>
      <div class="span8">
        <div class ="upper_section">

        <%= render 'shared/stats' %>  

                 </div>
      </div>



  
  <div class="span8">
    <div class ="upper_section">
          
          <br><br><h4><%= @title %> </h4>
 


      
      <% if @users %>
        <ul class="users">
          <br><br>
          <%= render @users %>
        </ul>
        <%= paginate @users %>
      <% end %>
      <% if @starred_authors && @starred_authors.any? %>
      <br><br>
       <div id = "starred_authors">
        <ol class="profile_microposts">
          Starred
          <%= render @starred_authors %>
        </ol>
      </div>
      <% end %>
      <% if @authors && @authors.any? %>
      <div id = "subscribed_authors">
         <ol class="profile_microposts">
          <%= render @authors %>
        </ol>
      </div>

      <% end %>

    </div>
  </div>
  
   


  
</div>



