<div class ="user_show">

  <div class="row">
    
    
      <div class="span5">
        

            <h4>
         <%= image_tag @user.picture, :width => "50" %>&nbsp; <%= @user.name %> </h4>
         


         
      </div>
      <div class="span3">
        <div id = "follow_button">
                <%if current_user.following?(@user) && @utopic %>
                  <%= render @utopic %>
          <%else%> 
                <%= render 'follow_form' if current_user %>            
         <%end%>    
       </div>
        <%= render 'shared/stats' %>  
      </div>
       <div class="span8">
       <% if @utopics.any? %>
        <%= render "shared/utopic_menu" %>
        <%end%>
      <% if @favorites.any? %>

      <div id = "favorite_posts">
         Starred
          <ol class="profile_microposts">
          <%= render @favorites %>
          </ol>

      </div>
       <% end %> 
       <% if @latest.any? %>

      <div id = "latest_posts">
         <ol class="profile_microposts">
          <%= render @latest %>
          </ol>
          <br>
          <%= paginate @latest %>
       
      </div>
        <%end%>
           
    </div>
   
    
  </div> 

</div>