<% unless feed_item.hidden? %> 
<li id="<%= feed_item.id %>">
	<div id ="user_image">
<%= link_to (image_tag feed_item.user.picture, :width => "25"), feed_item.user  %> 
</div> 
<div id ="post_user">
 		<span class = "user"><%= link_to feed_item.user.name, feed_item.user %> <% unless feed_item.via == nil %> via <%= link_to feed_item.via.name, feed_item.via %> <%end%></span>

<br>
 
		   <span class="content"><%= link_to feed_item.headline, feed_item.url %><br>
		 <% if feed_item.author %>  by <%= feed_item.author %><br><%end%>
		  <%= truncate(feed_item.description, :length => 100, :omission =>"...", :separator => ' ') %> </span>
		    


		<span class="timestamp"> 
		<% if feed_item.user == current_user %> 
		 <% selected_topic = "Select topic!" %>
<% selected_topic = feed_item.topic.name if feed_item.topic %>
<span class="editable_topic"><i class="icon-edit"></i> <%= best_in_place feed_item, :topic_id, type: :select, collection: Topic::list_topic_options, :nil => "#{selected_topic}"%></span> -
<%else%>
		 <%= feed_item.topic.name + " - " unless feed_item.topic == nil  %> <%end%>
		  <%= time_ago_in_words(feed_item.created_at) %> ago 
		

		<% if current_user == feed_item.user %> 
		    <%= link_to "x", feed_item, method: :delete,
		                                     data: { confirm: "You sure?" },
		                                     title: feed_item.url %>
<% else %>
        
  <%= link_to raw('<i class="icon-share"></i>'), :controller => "posts", :action => "share", :id => feed_item.id %>
		  <% end %>
		 
</span>
<br> <br>


<% if feed_item.comments %>
    
    	<% if feed_item.count > 3 %>

		  	<%= link_to ("View all " + feed_item.count.to_s + " comments "), feed_item %>
		  	<br><br>
		 <%end%>

		  	
		<% feed_item.comments.last(3).each do |comment|%>
				<div id ="user_image">
			<%= image_tag User.find_by_uid(comment["from"]["id"]).picture, :width => "25" %> 
			</div> 
			<span class = "user"><%= comment["from"]["name"] %></span><br><span class = "content"> <%= comment["message"] %> </span><br> <span class="timestamp"> <%= time_ago_in_words(comment["created_time"]) %> ago </span>
			<br><br>


		<%end%>

<%end%>

<% if feed_item.box != false %>
		<%= form_tag(:controller => "posts", :action => "add_comment", :id => feed_item.id) do %>
    <%= text_field_tag :comment, nil, :placeholder => 'Write a comment...'%>
<% end %>
<%end%>




		  




</div> 


 
</li>
<%end%>