<div class = "row">
<div class = "span5">
	<% if @starred_actions.any? %>
	<div id = "favorite_posts">
	        
	   Starred
	  <ol class="microposts">
	<%= render @starred_actions %>
	</ol>
	</div>
	<%end%>
	<% if @actions.any? %>
	<div id = "latest_posts">
	  <ol class="microposts">
	<%= render @actions %>
	</ol>
	</div>
	  
	<% end %>

	<% if @recommended && @recommended.any? %>

	<div id = "latest_posts">
		<br>Authors most followed by your friends:<br><br>
	  <ol class="microposts">
	<%= render @recommended %>
	</ol>
	</div>
	  
	<% else %>
		<% if @popular && @popular.any? %>
		<div id = "latest_posts">
		<br>Authors most followed by other users:<br><br>
	  <ol class="microposts">
	<%= render @popular %>
	</ol>
	</div>
	<%end%>
	<%end%>
</div>


<div class = "span3">

		<% if @user_actions.any? %>
	<div id = "latest_posts">
		<div class ="visible-phone"><br>Friends' actions<br></div>
	  <ol class="microposts">
	<%= render @user_actions %>
	</ol>
	</div>

	  
	<% end %>


</div>
	  <br>
	 <div class = "span5">
	  <%= paginate @actions %>
	</div>
</div>