<div class = "row">
<div class = "span8">
	<% if @starred_actions.any? %>
	<div id = "favorite_posts">
	        
	   Starred
	  <ol class="microposts">
	<%= render @starred_actions %>
	</ol>
	</div>
	<br>
	<%end%>
	<% if @actions.any? %>
	<div id = "latest_posts">
		Your newsfeed
	  <ol class="microposts">
	<%= render @actions %>
	</ol>
	</div>
	  
	<% end %>

	<% if @recommended && @recommended.any? %>

	<div id = "latest_posts">
		<br>Other authors most followed by your friends:<br><br>
	  <ol class="microposts">
	<%= render @recommended %>
	</ol>
	</div>
	  
	<% else %>
		<% if @popular && @popular.any? %>
		<div id = "latest_posts">
		<br>Authors most followed by other users:<br><br>
	  <ol class="microposts">
	<%= render @popular %>
	</ol>
	</div>
	<%end%>
	<%end%>
<br>
	  <%= paginate @actions %>
	</div>
</div>