
<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Post an article</h3>
	</div>
	
		<div class="modal-body">
			<%= simple_form_for build_a_post do |f| %>

			  <%= render 'shared/error_messages', object: f.object %>
			  <div id="form_image">
			  <%= link_to (image_tag current_user.picture, :width => "26"), current_user  %>
			</div>
			  <div id="post_box">
			    <%= f.text_field :url, placeholder: "Enter a url..." %>
			  </div>
			 <div id="select_box">
			  <%= f.association :topic, :prompt => "topic", :label => false %>
			</div>
			<div id="privacy_checkboxes">
			 <%= f.input :facebook, :label => "share on Facebook", :input_html => { :checked => true },:wrapper => :inline_checkbox %> 
			 <%= f.input :email, :label => "email my Jurnalo followers", :input_html => { :checked => true },:wrapper => :inline_checkbox %>
			 <%= f.input :public, :label => "make visible to all Jurnalo users", :input_html => { :checked => true }, :wrapper => :inline_checkbox %>
			</div>
		</div>
		<div class="modal-footer">

			<div id="button_box">
			  <%= f.submit "Post article", class: "btn btn-medium btn-primary btn-posting" %>
			</div>
		<% end %>
		
		</div>
	
</div>


