<%= simple_form_for @post , :html => { :class => 'form-horizontal' } do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <%= link_to (image_tag current_user.picture, :width => "26"), current_user  %>
  <div id="post_box">
    <%= f.text_field :url, placeholder: "Submit a url..." %>
  </div>
 <div id="select_box">
  <%= f.association :topic, :prompt => "topic", :label => false %>
</div>
<div id="button_box">
  <%= f.submit "Post article", class: "btn btn-medium btn-primary btn-posting" %>
</div>

<% end %>
