
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Repost (preview)</h3>
	</div>
	
		<div class="modal-body">
			

			  
			<div id="<%= @new_post.id %>">  
      <div id ="post_image"><%= link_to (image_tag @new_post.picture, :width => "50"), @post.url if @post.picture != nil  %></div>

      <div id ="item_text">

          <span class="content"><b><%= link_to @new_post.headline, @post.url %></b></span>
          <% if @new_post.author %>  <%= @new_post.author %><%end%>
            <span class="content"><%= truncate(@new_post.description, :length => 100, :omission =>"...", :separator => ' ') %>  
            	</span>
            </div>
        </div>

		<%= simple_form_for current_user.posts.build do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.hidden_field :url, :value =>  @new_post.url %>
		<%= f.hidden_field :headline, :value =>  @new_post.headline %>
		<%= f.hidden_field :author, :value =>  @new_post.author %>
		<%= f.hidden_field :description, :value =>  @new_post.description %>
		<%= f.hidden_field :topic_id, :value =>  @new_post.topic_id %>
		<%= f.hidden_field :via_id, :value =>  @new_post.via_id %>
		<%= f.hidden_field :picture, :value =>  @new_post.picture %>
		<br>
		<div id="privacy_checkboxes" rel="tooltip" title="show this post on my Facebook profile" data-placement="right">
			 <%= f.input :facebook, :label => "share on Facebook", :input_html => { :checked => true },:wrapper => :inline_checkbox %>  </div>
			 <div id="privacy_checkboxes" rel="tooltip" title="email my followers on Jurnalo" data-placement="right">
			 <%= f.input :email, :label => "notify my followers", :input_html => { :checked => true },:wrapper => :inline_checkbox %></div>
			 <div id="privacy_checkboxes" rel="tooltip" title="make this post visible to all Jurnalo users" data-placement="right">
			 <%= f.input :public, :label => "make it public", :input_html => { :checked => true }, :wrapper => :inline_checkbox %></div>
			
		</div>
		<div class="modal-footer">

			<div id="button_box">
			  <%= f.submit "Repost this link", class: "btn btn-medium btn-primary btn-posting" %>
			  <%= link_to "Cancel", :back, :class => 'btn' %>
			</div>
		<% end %>
		
		</div>

	

