<br>
<% @user ||= current_user %>
<div class="stats">
  <a href="<%= authors_user_path(@user) %>">
    <strong id="authors" class="stat">
      <%= @user.authors.count %>
    </strong>
    authors
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    followed users
  </a>
    <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    following users
  </a>
  <% if @user == current_user %>
   <a href="<%= edit_user_path(current_user) %>">
    <strong id="authors" class="stat">
     
    </strong>
    <br> settings
  </a>
<%end%>
</div>
<br>