<% unless post.hidden? %> 
<li id="<%= post.id %>">
  <div id ="star">
    <% if current_user == post.user %> 
        <% if post.starred == true%>
          <%= link_to raw('<i class="icon-star"></i>'), :controller => "posts", :action => "unstar", :id => post.id %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'), :controller => "posts", :action => "star", :id => post.id %>
          
        <%end%>
        <%end%>
       </div>

  <div id ="post_image"><%= link_to (image_tag post.picture, :width => "50"), post.picture if post.picture != nil  %></div>
  <div id ="post_text">
    <span class="content"><b><%= link_to post.headline, post.url %></b></span>
    <% if post.author %>  <%= post.author %><%end%>
      <span class="content"><%= truncate(post.description, :length => 100, :omission =>"...", :separator => ' ') %>  
      	</span> 

      <span class="timestamp">
        
 <% selected_topic = "Select topic!" %>
<% selected_topic = post.topic.name if post.topic %>
<%= best_in_place post, :topic_id, type: :select, collection: Topic::list_topic_options, :nil => "#{selected_topic}"%> -
       <%= time_ago_in_words(post.created_at) %> ago
      </span>

      
      <% if current_user == post.user %>
        <%= link_to "x", post, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: post.url %>
      <% end %>

	</div>

  
</li>


<%end%>



