<% unless post.hidden? %> 
  <%= content_tag_for :li, post do %>
   <% if @user == current_user && post.starred == true %>  <span class="handle"> <%end%>
  <div id ="star">
    <% if current_user == post.user %> 
        <% if post.starred == true%>
       
          <%= link_to raw('<i class="icon-star"></i>'), "/posts/#{post.id}/unstar", :class => "btn btn-small"  %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'), "/posts/#{post.id}/star", :class => "btn btn-small"  %>
          
        <%end%>
        <%end%>
       </div>

  <div id ="post_image"><%= link_to (image_tag post.picture, :width => "50"), post.picture if post.picture != nil  %></div>
  <div id ="post_text">
    <span class="content"><b><%= link_to post.headline, post.url %></b></span>
    <% if post.author %>  <%= post.author %><%end%>
      <span class="content"><%= truncate(post.description, :length => 100, :omission =>"...", :separator => ' ') %>  
      	</span> 

<span class="timestamp"> 
        <% if post.user == current_user %> 
          
            <% if post.topic %><span class="editable_topic"><i class="icon-cog"></i><% selected_topic = post.topic.name %> 
          <%else%><i class="icon-list"></i><span class ="edit_topic">
          <% selected_topic = "select topic!" %> 
          <%end%>
           <%= best_in_place post, :topic_id, type: :select, collection: Topic::list_topic_options, :nil => "#{selected_topic}"%></span> · 
        <%else%>
          <%= post.topic.name + " · " unless post.topic == nil  %> 
        <%end%>
         
         <% if post.fbaction_id %>

         <%if post.likes_count && post.likes_count > 0  %>  
            <%= link_to 'like (' + post.likes_count.to_s + ")", :controller => "posts", :action => "like", :id => post.id %> · 
            <%else%>
             <%= link_to 'like', :controller => "posts", :action => "like", :id => post.id %> · 
           <%end%>

             <%end%> 
          
      <%if post.comments && post.comments.count > 0  %> 
          <%= link_to "comments (" + post.comments.count.to_s + ")" , post %> · 
          <%else%>
            <%= link_to "comment", post %> · 
            <%end%>
     
      

        <% if current_user != post.user %> 
       <%= link_to "repost", :controller => "posts", :action => "preview", :id => post.id %>  · 
      <%end%><%= time_ago_in_words(post.created_at) %> ago 
      <% if current_user == post.user %> 
            &nbsp;<%= link_to "x", post, method: :delete,
                                           data: { confirm: "You sure?" },
                                           title: post.url %> <%end%>
          
             
  </span>
              

 

	</div>

  
</li>
</span>
<%end%>
<%end%>



