<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV['FACEBOOK_APP_ID'] %>
  <%= tag :meta, property: "og:site_name", content: "Jurnalo" %>
  <%= tag :meta, property: "og:type", content: "article" %>
  <%= tag :meta, property: "og:title", content: @post.headline %>
  <%= tag :meta, property: "og:section", content: @post.topic.name if @post.topic %>
  <%= tag :meta, property: "og:description", content: @post.description %>
  <%= tag :meta, property: "og:url", content: post_url(@post) %>
  <%= tag :meta, property: "og:image", content: @post.picture unless @post.picture =="https://fbexternal-a.akamaihd.net/safe_image.php" %>
<% end %>

<div class="row">
  <div class = "span8">
    <ol class="microposts">
      <% unless @post.hidden? %> 
        <div id ="star"><div class="fb-send" data-font="arial"></div></div>
              <div id ="user_image">
      <%= link_to (image_tag @post.user.picture, :width => "25"), @post.user  %> 
    </div> 
    
      <span class = "user"><%= link_to @post.user.name, @post.user %> <% unless @post.via == nil %> via <%= link_to @post.via.name, @post.via %> <%end%></span>
      <br><br>

      <div id="<%= @post.id %>">  
      
      <div id ="post_image"><%= link_to (image_tag @post.picture, :width => "50"), @post.url if @post.picture != nil  %></div>


      <div id ="item_text">

          <span class="content"><b><%= link_to @post.headline, @post.url %></b></span>
          <% if @post.author %>  <%= @post.author %><%end%>
            <span class="content"><%= truncate(@post.description, :length => 100, :omission =>"...", :separator => ' ') %>  
            	</span> 

           <span class="timestamp"> 
        <% if @post.user == current_user %> 
          <span class="editable_topic">
          <% if @post.topic %><i class="icon-cog"></i><% selected_topic = @post.topic.name %> <%else%><i class="icon-list"></i>
          <% selected_topic = "select topic!" %> <%end%>
           <%= best_in_place @post, :topic_id, type: :select, collection: Topic::list_topic_options, :nil => "#{selected_topic}"%></span> · 
        <%else%>
          <%= @post.topic.name + " · " unless @post.topic == nil  %> 
        <%end%>

        <!--% if @post.fbaction_id %-->

         <%if @post.likes_count && @post.likes_count > 0  %>  
            <%= link_to 'like', :controller => "posts", :action => "like", :id => @post.id %> (<%=  @post.likes_count.to_s %>) · 
            <%else%>
             <%= link_to 'like', :controller => "posts", :action => "like", :id => @post.id %> · 
           <%end%>
         <!--%end%-->
               

        <% if current_user != @post.user %> 
        <%= link_to "repost", :controller => "posts", :action => "preview", :id => @post.id %> · 
      <%end%><%= time_ago_in_words(@post.created_at) %> ago 
      <% if current_user == @post.user %> 
            &nbsp;<%= link_to "x", @post, method: :delete,
                                           data: { confirm: "You sure?" },
                                           title: @post.url %> <%end%>
          
             
  </span>
        <br><br> 
      	</div>

       
      </div>



      <br>
      <span class = "user"><%= link_to ("More posts by " + @post.user.name + " &raquo;").html_safe , @post.user %></span>


        <% if current_user %>
          <!--% if @post.box != false %-->
            <br><br>
                 <%= form_tag(:controller => "posts", :action => "add_comment", :id => @post) do %>
                        <div id ="comment_image"> <%= link_to (image_tag current_user.picture, :width => "26"), current_user  %></div>
                        <div id ="comment_field"><%= text_field_tag :comment, nil, :placeholder => 'Write a comment...'%> </div>
                  <% end %>
            
          <!--%end%-->
          <% if @comments %>
          
                  <% @comments.reverse.each do |comment|%>
                  <div class = "comment">
                    <div id ="user_image">
                      <%= image_tag comment.user.picture, :width => "25" if comment.user %> 
                    </div> 
                    <div id ="comment_text">

                      <span class = "user"><%= link_to comment.user.name, comment.user if comment.user %></span>
                      <span class = "content"> <%= comment.text %> </span>
                      <span class="timestamp"> <%= time_ago_in_words(comment.created_at) %> ago </span>
                      
                    </div>
                    </div>
                  <%end%>
          <%end%>
        <%end%>
      <%end%>
    </ol>
  </div>
  <br>
</div>


