<% content_for :head do %>
  <%= tag :meta, property: "fb:app_id", content: ENV['FACEBOOK_APP_ID'] %>
  <%= tag :meta, property: "og:site_name", content: "Jurnalo" %>
  <%= tag :meta, property: "og:type", content: "article" %>
  <%= tag :meta, property: "og:title", content: @post.headline %>
  <%= tag :meta, property: "og:section", content: @post.topic.name if @post.topic %>
  <%= tag :meta, property: "og:description", content: @post.description %>
  <%= tag :meta, property: "og:url", content: post_url(@post) %>
  <%= tag :meta, property: "og:image", content: @post.picture unless @post.picture =="https://fbexternal-a.akamaihd.net/safe_image.php" %>
<% end %>

<div class="row">
<div class = "span8">
<ol class="microposts">
<% unless @post.hidden? %> 
<div id="<%= @post.id %>">
  <div id ="star">
    <% if current_user == @post.user %> 
        <% if @post.starred == true%>
          <%= link_to raw('<i class="icon-star"></i>'), :controller => "@posts", :action => "unstar", :id => @post.id %>
        <%else%>

          <%= link_to raw('<i class="icon-star-empty"></i>'), :controller => "@posts", :action => "star", :id => @post.id %>
          
        <%end%>
        <%end%>
       </div>

  <div id ="@post_image"><%= link_to (image_tag @post.picture, :width => "50"), @post.picture if @post.picture != nil  %></div>
  <div id ="@post_text">
    <span class="content"><b><%= link_to @post.headline, @post.url %></b></span>
    <% if @post.author %>  <%= @post.author %><%end%>
      <span class="content"><%= truncate(@post.description, :length => 100, :omission =>"...", :separator => ' ') %>  
      	</span> 

      <span class="timestamp">
 <% if @user == current_user %>        
 <% selected_topic = "Select topic!" %>
<% selected_topic = @post.topic.name if @post.topic %>
<span class="editable_topic"><%= best_in_place @post, :topic_id, type: :select, collection: Topic::list_topic_options, :nil => "#{selected_topic}"%> </span> -
<%else%>
   <%= @post.topic.name + " - " unless @post.topic == nil  %> <%end%>
       <%= time_ago_in_words(@post.created_at) %> ago
      </span>

      
      <% if current_user == @post.user %>
        <%= link_to "x", @post, method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: @post.url %>
      <% else %>

  <%= link_to raw('<i class="icon-share"></i>'), :controller => "@posts", :action => "share", :id => @post.id %>
  <%end%>

	</div>

  
</div>


<%end%>
</ol>


</div>
</div>
<br>
<div class="row">
  <%= form_tag(:controller => "posts", :action => "add_comment") do %>
    <%= text_field_tag :comment, nil, :placeholder => 'Comment...'%>
<% end %>

</div>

<% if @comments %>
<% @comments.each do |comment|%>
<%= comment["message"] %>
<br><br>
<%end%>
<%end%>


