
<header>
  <div class ="span8 offset2">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        
       <%= link_to "EconBloggers", root_path, id: "logo", title: 'home', rel: 'tooltip', "data-placement"=>"bottom" %>
        
        <nav>

          
            <ul class="nav pull-right" >      
                          <% if current_user %>

                  <li>
                    <%= link_to current_user.name, current_user, title: 'my profile', rel: 'tooltip', "data-placement"=>"bottom" %>
                  </li>
                  <%else%>
                  <div class = "header_button">
                  <%= link_to "Login via Facebook!", "/auth/facebook", id: "sign_in", 
                                class: "btn btn-medium btn-primary" %>
                  </div>
                
              <%end%>         
              
           
            </ul>
          
          <div class="hidden-phone">
            <ul class="nav pull-right" >

                <li>          
                  <div class="header_search_box">
                    <%= form_tag actions_path, :method => 'get' do %>
                      <%= text_field_tag :q, nil, :placeholder => 'Search ...'%>
                    <% end %>
                  </div>
                </li>

            </ul> 
          </div>  
       
        </nav>
      </div>
    </div>
  </div>
</div>
</header>