
<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <div class ="jlogo">
        <%= link_to image_tag( 'logo.gif'), root_path, id: "logo" %>
        </div>
        <nav>

          <ul class="nav pull-left">
            
                        <% if current_user %> 
            <li><%= link_to current_user.name, current_user %></li>
             

            <%end%>
            

          </ul>
          <ul class="nav pull-right">
            


            <% if current_user %>

                  <li>
                    <%= link_to "Sign out", signout_path, id: "sign_out" %>
                  </li>
               


            

              <li><div class ="visible-phone"> <%= button_to "Post", new_post_path, :class => "btn btn-small btn-primary btn-posting", :method => :get %></div> </li>


                
                

            <% else %>
              <li><%= link_to "Join!", "/auth/facebook", id: "sign_in" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>