
<header>
  <div class ="span8 offset2">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <div class ="jlogo">
        <%= link_to image_tag( 'logo.gif'), root_path, id: "logo" %>
        </div>
        <nav>

          <ul class="nav nav-pills pull-left">
        
            

<li>
              <li> <%= button_to "Post an article", new_post_path, "data-target" => "#myModal", :class => "btn btn-small btn-primary btn-posting", "data-toggle" => "modal" %> </li>
              
            </ul>
             <ul class="nav pull-right">

            <% if current_user %>
                            
            <li><%= link_to current_user.name, current_user %></li>
             

            

            <li><%= link_to "Home", root_path%></li>


               

              <%else%>
              <li><%= link_to "Join!", "/auth/facebook", id: "sign_in" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</header>