
<header>
  <div class ="span8 offset2">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <div class ="jlogo">
        <%= link_to image_tag( 'logo.gif'), root_path, id: "logo", title: 'home', rel: 'tooltip', "data-placement"=>"bottom" %>
        </div>
        <nav>

          <ul class="nav nav-pills pull-left">
        <li>
          <div class="header_search_box">
              <%= form_tag actions_path, :method => 'get' do %>
            
              <%= text_field_tag :q, nil, :placeholder => 'Search ...'%>
              
          
          <% end %>
          </div>
        </li>


              
            </ul>
             <ul class="nav pull-right">

            <% if current_user %>
                            
             <li> <%= link_to raw('<i class="icon-pencil"></i> ')+ "Post", new_post_path, "data-target" => "#myModal", "data-toggle" => "modal", title: 'post an article', rel: 'tooltip', "data-placement"=>"bottom"  %> </li>
            <li><%= link_to (image_tag current_user.picture, :width => "15") + " " + current_user.name, current_user, title: 'my profile', rel: 'tooltip', "data-placement"=>"bottom" %></li>
            <li><%= link_to raw('<i class="icon-home"></i> ')+ "Home", root_path %></li>


               

              <%else%>
              <li><%= link_to raw('<i class="icon-globe"></i> ')+ "Join!", "/auth/facebook", id: "sign_in" %></li>
            <% end %>

             
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</header>