
<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <div class ="jlogo">
        <%= link_to image_tag( 'logo.gif'), root_path, id: "logo" %>
        </div>
        <nav>

          <ul class="nav pull-left">

          </ul>
          <ul class="nav pull-right">
            
            <% if current_user %>
              <% if current_user.invitation_limit > 0 %>
                      <li>
                          
                            <%= link_to 'invite', new_invitation_path %> 
                         
                      </li>
              <% end %>
            <%end%>
            

            <% if current_user %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name %><b class="caret"></b>
                </a>
                <ul class="dropdown-menu">


                  <li><%= link_to (current_user.followers.count.to_s + " followers") , followers_user_path(current_user) %></li>
                  <li><%= link_to (current_user.followed_users.count.to_s + " following") , following_user_path(current_user) %></li>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path %>
                  </li>
                </ul>


              </li>

              <li><div class ="visible-phone"> <%= button_to "Post", new_post_path, :class => "btn btn-small btn-primary btn-posting", :method => :get %></div> </li>

                
                

            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>