<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Jurnalo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>
  <body>
    <script>$('.best_in_place').bind("ajax:success", function(){$(this).closest('tr').effect('highlight'));});</script>
      
    <%= render 'layouts/header' if current_user || params[:action] == "contact" || params[:action] == "privacy" || params[:action] == "show"%>
    <div class="container">
    <div class="span8 offset2">
        
    
      <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><b><%= value %></b></div>
      <% end %>

      <%= yield %>
    
    </div>
    </div>
    <div class="span12">
    <footer>
      <% if current_user %>
      <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <p>

    <p>
    <input type="button"
      onclick="sendRequestViaMultiFriendSelector(); return false;"
      value="Invite friends" class = "btn btn-small btn-primary btn-posting"
    />
    </p>
    
    <script>
      FB.init({
        appId  : ENV['FACEBOOK_APP_ID'],
        frictionlessRequests: true
      });

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'invites you to Jurnalo',
    new_style_message: true
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }
    </script>
                       
                <%= link_to "Sign out", signout_path, id: "sign_out" %><br><br>
    <% end %>
                  
               
      (c) Jurnalo · <%= link_to "Privacy", privacy_path %>  </footer>
  
  </body>
</html>
