<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Jurnalo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>
  <body>
      
    <%= render 'layouts/header' %>
    <div class="container">
    <div class="span8 offset2">
        
    
      <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>
    
    </div>
    </div>
    <div class="span12">
    <footer>
      <%if current_user %>
               <% if current_user.invitation_limit > 0 %>     
                            <%= link_to 'Send invitation (' +  current_user.invitation_limit.to_s + ' left)' , new_invitation_path %>
                 <br>     
              <% end %>
            <%end%>
      (c) Jurnalo </footer>
  
  </body>
</html>
