<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=h yield(:title) %><% unless params[:action] == "home"%>  EconBloggers <%end%></title>
    <meta name="description" content="EconBloggers - All econ bloggers on one page!" />
    <meta name="keywords" content="econ bloggers, econblogger, economics bloggers, economics blogs, econblogs, econbloggers, economists, econ blogs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36030208-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
  <body>
    <script>$('.best_in_place').bind("ajax:success", function(){$(this).closest('tr').effect('highlight'));});</script>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=143426012471285";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
      
    <%= render 'layouts/header'%>

    <div class="container">
    <div class="span8 offset2">
        
    
      <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><b><%= raw value %></b></div>
      <% end %>

      <!--%= render 'shared/post_form' if current_user %-->
      <%= yield %>
    
    </div>
    </div>
    <div class="span12">
    <footer>

      <div class="fb-like" data-href="http://www.econbloggers.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>

      <div class= "tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="EconBloggers.com - Follow the world's greatest economists!" data-url="http://www.econbloggers.com" data-counturl="http://www.econbloggers.com" data-size="small" data-count = "none">Tweet</a></div>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <br><br><br><br>

                  
               
      (c) EconBloggers ·  <%= link_to "About", about_path %> · <%= link_to "Contact", contact_path %> · <%= link_to "Privacy", privacy_path %> · <%= link_to "Top Econ Bloggers", authors_path %> <% if current_user %>
       · <%= link_to "Sign out", signout_path, id: "sign_out" %><br><br>
    <% end %>  </footer>
  
  </body>
</html>
